body {
    background-color: #5cb85c;
}

#navbar{
    background-color: purple;
    text-align: center;
}
#navbar a{
    text-decoration: none;
    color: white;
}
#navbar li{
    display:inline-block;
    padding: 15px;
    
}
.computerImg {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.5;
}

.cpuImg {
    left:480;
    top:270;
    display: none;
    color: #FFF;
}
.image-container:hover .cpuImg {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.cpuImg{
    opacity:0;
}
.cpuImg:hover{
    opacity:0.9;
}
#cpuText{
    position: absolute;
    left:-500px;
}
.cpuImg:hover + #cpuText{
    width:30;
    height:30; 
    top:86%;
    left: 38%;
    outline: black;
    background-color:yellow;
}